{% extends 'bookings/base.html' %}
{% block title %}Confirm Booking{% endblock %}
{% block content %}
<h2 class="my-4">Confirm Booking for {{ movie.title }}</h2>
<div class="card">
    <div class="card-body">
        <p class="card-text">Seat Number: {{ seat.seat_number }}</p>
        <p class="card-text">Price: ${{ seat.seat_price }}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Confirm Booking</button>
        </form>
    </div>
</div>
{% endblock %}
