{% extends 'bookings/base.html' %}
{% block title %}Movie List{% endblock %}
{% block content %}
<h2 class="my-4">Available Movies</h2>
<div class="row">
    {% for movie in movies %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.description }}</p>
                    <a href="{% url 'book_seat' movie.id %}" class="btn btn-primary">Book Now!</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}